DAY -1/DEMO1.exe
DAY -1/DEMO.exe
DAY -1/DEMO.exe
DAY -1/DEMO.exe
DAY - 2/CONDITIONAL-1.exe
DAY - 2/CONDITIONAL-2.exe
DAY - 2/CONDITIONAL-3.exe
DAY - 2/WHILELOOP-1.exe
DAY - 2/CONDITIONAL-4.exe
DAY - 2/WHILELOOP-2.exe
DAY - 2/WHILELOOP-3.exe
DAY - 2/WHILEPATTERN-1.exe
DAY - 2/WHILEPATTERN-2.exe
